[submodule "hitobito"]
	path = hitobito
	url = https://github.com/hitobito/hitobito.git
	branch = master
[submodule "hitobito_insieme"]
	path = hitobito_insieme
	url = https://github.com/hitobito/hitobito_insieme.git
	branch = master
